{% extends "base.html" %}
{% block title %}{{ 'Edit' if account else 'New' }} Account{% endblock %}
{% block heading %}{{ 'Edit Account' if account else 'New Account' }}{% endblock %}
{% block content %}
<div class="panel">
  <div class="panel-body" style="max-width:560px;">
    {% if error %}<div class="flash error">{{ error }}</div>{% endif %}
    <form method="post" action="{{ '/accounts/%d/edit'|format(account.id) if account else '/accounts/new' }}">
      <div class="field">
        <label>Account Name *</label>
        <input type="text" name="name" required value="{{ account.name if account else '' }}">
      </div>
      <div class="field">
        <label>Type *</label>
        <select name="type" required>
          {% set current_type = account.type.value if account else '' %}
          {% for t in ['asset', 'liability', 'income', 'expense', 'capital'] %}
          <option value="{{ t }}" {{ 'selected' if current_type==t }}>{{ t|title }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label>Code</label>
        <input type="text" name="code" value="{{ account.code if account else '' }}">
      </div>
      <div class="btn-row">
        <button class="btn primary" type="submit">{{ 'Save Changes' if account else 'Create Account' }}</button>
        <a class="btn" href="/accounts">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
